<a href="https://colab.research.google.com/github/mmibrahim/BEACONToolkit/blob/master/Chapter_10_Objects_and_Classes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Objects are data structures containing both data (attributes) and code (functions aka methods). Think of objects as nouns and their methods as verbs. For example an integer object with the value 7 facilitates methods such as addition and subtraction, etc. The string 'Sam' or 'dove' are also string objects in python that have string object methods such as capitalize() and replace() etc.

**Creating a New Object**
Suppose that you want to define objects that represent information about animals, mammals, cats, dogs, persons, students, cars, finances or something more abstract like a new list type that behaves a little differently than the standard python lists. But let's start with something very basic as a person, a person's attributes might be name, age, sex, height weight,

You define a class by using the class keyword:

class Person:

Note the class name is conventionally capitalized.

Let's start with the basic attributes a person might have like name, age and sex.

In [0]:
class Person:
    pass

You can create an object from a class by calling a the class name like we do with a function.

In [0]:
#let's create an object
mike = Person()
#and let's create another one
jill = Person()

In [0]:
mike

You'll have to admit, that in their current form the Person class nor the objects mike and Jill are pretty much doing nothing. For them to be anything of value a person class should have attributes (like name, age, sex etc.) and functionality, like what a person does like study, exercise, work, read, commute etc.

Let's start with the attributes, here's how we assign the attributes to a class.

In [0]:
class Person:
    
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex =sex

Now, let's create the objects with attributes initialized.

In [0]:
mike = Person('Mike', 48, 'Male')

In [0]:
jill = Person('Jill', 26, 'Female')

**Drill**

Create two more objects, jack and vicky with non

In [0]:
#fill in below to create the jack and vick objects of the Person class
#first do it the wrong way, initialize without providing the attributes
jack = Person()

vicky = Person()

TypeError: ignored

What went wrong above, you forgot to provide the arguments for the __init__ method, those arguments are the Person's attributes name, age and sex.

In [0]:
#fill in below to create the jack and vick objects of the Person class
#now let's do it the right way, provide the attributes with any values you want
jack = Person(,,)

vicky = Person(,,)

What went wrong above, you forgot to provide the arguments for the __init__ method, those arguments are the Person's attributes name, age and sex.

In [0]:
jack = Person('Jack',34, 'Male')

AttributeError: ignored

**Now let's add another attribute**

In [0]:
len(jill.__dict__)

3

In [0]:
list(jill.__dict__.keys())

['name', 'age', 'sex']

In [0]:
import unittest

class TestStringMethods(unittest.TestCase):

    def test_max(self):
        self.assertLess(jill.age, 120)
        
    def test_attrs_numbers(self):
        self.assertEqual(len(jill.__dict__),3)
    def test_attrs(self):
        self.assertEqual(list(jill.__dict__.keys()), ['name','age','sex'])
    def test_min(self):
        self.assertGreater(jill.age, 0)
    def test_age(self):
        self.assertEqual(jill.age, 26)
        
    def test_is_person(self):
        self.assertIs(type(jill.age), int)
        self.assertIs(type(jill.name), str)
    def test_is_person_instance(self):
        self.assertIsInstance(jill, Person)
   

if __name__ == '__main__':
    unittest.main(argv=['first-arg-is-ignored'], exit=False)

.......
----------------------------------------------------------------------
Ran 7 tests in 0.021s

OK

Now we have two initialized objects mike, jill with their three attributes defined.

**Drills:**



1.   Add a weight  attribute to the person class.
2.   Create two more objects Person objects with the attributes initialized, choose any values you want.
3-

In [0]:
class Person:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex =sex
        #your code here
        self.weight = weight
    
#do not type anything below this line

TypeError: ignored

What went wrong here.

**Inheritance**